html, body {
  background-color: lightgrey;
  margin: 0;
}

/* Utility Classes */

.title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.f2 {
  font-size: 2rem;
}

/* Navbar */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: grey;
  padding: 1rem;
  margin-bottom: 2rem;
}
