.title {
  text-align: center;
  padding: 20px;
}

.container {
  margin: 0 auto;
}
.ParentAdminContainer {
  display: flex;
  width: 50%;
  margin: 0 auto;
}
.AdminContainer {
  background-color: #950740;
  width: 530px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

.CustomerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  border-radius: 8px;
  padding: 12px 20px;
  outline: none;
  border: none;
  font-size: 20px;
  width: 400px;
  margin: 8px;
  box-sizing: border-box;
}

.button {
  background-color: #1a1a1d;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  outline: none;
  border: none;
  font-size: 14px;
}

.button:hover {
  background-color: #4e4e50;
}

.customer_display {
  display: flex;
  background-color: #1a1a1d;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
