.Trigger {
  width: fit-content;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.Content {
  width: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.Item {
  display: flex;
  justify-content: space-between;
  color: black;
  margin: 5px;
  padding: 5px;
}
