.container {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 600px;
    margin: auto;
}

.login_form {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #6F2232;
    padding: 50px;
    border-radius: 20px;
    gap: 5px;
}

.input {
    border: 1px solid;
    border-radius: 8px;
    height: 40px;
    padding-left: 5px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid black;
    font-size: medium;
    background-color: #C3073F;
    color: white;
    padding: 8px;
}
.submit:hover{
    background-color: #950740;
}
.error {
    color: red;
}
.button{
    position: relative;
    display: inline-block;
    padding: 5px;
    background-color: white;
    color: #0e0101;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.signup {
    display: flex;
    align-items: center;
}
.center {
    text-align: center;
  }