.container {
  background-color: #950740;
  width: 600px;
  min-height: 400px;
  height: fit-content;
  margin: 25px;
  padding: 10px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.button {
  border-radius: 50px;
  border-color: white;
  background-color: #950740;
  color:white;
  font-size: 1.0rem;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 5x;
  margin-left: 12px;
  margin-right: 12px;
}